/*This file serves as the style configuration file for all the html form files*/

@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css?family=Varela+Round');
}

body{
	background-color: #FFFAFA;
}

h1{
	text-align: center;
}

p,form{
	font-size: 1em;
	font-family: chalkboard;
}

ul, li{
	list-style: none;
	text-align: center;
	font-size: 1.5em;
	font-family: chalkboard;
}
